@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* reseteo de margenes y rellenos */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: #202630;
    font-family: "Figtree", sans-serif;
    font-weight: 300;
}
/* globales */
a{
    text-decoration: none;
}


/* header */
header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* isologo */
    header div a img{
        margin-left: 16px;
    }
    /* navegación */
    header div nav a{
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        margin: 8px;
    }

/*  main  */

    /* hero-banner */
    #hero-banner{
        /*
        * Created with https://www.css-gradient.com
        * Gradient link: https://www.css-gradient.com/?c1=5b86e5&c2=37d2dc&gt=l&gd=dcl
        */
        background: #5B86E5;
        background: linear-gradient(180deg, #5B86E5, #37D2DC);
    }
        #hero-banner article{
            width: 1100px;
            height: 680px;
            margin: auto;
            /* background-color: rgba(255, 255, 255, 10%); */
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
            #hero-banner article div{
                width: 550px;
                color: #fff;
            }
                #hero-banner article div h1{
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 32px;
                }
                #hero-banner article div h2{
                    font-size: 40px;
                    width: 478px;
                }

    /* sección servicios */
    #servicios{
        width: 1100px;
        margin: 72px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* separación interna */
        padding: 32px 0px;
    }
        #servicios h3{
            font-weight: normal;
            font-size: 24px;
            width: 100%;
            text-align: center;
        }
        #servicios article{
            width: 336px;
            margin: 32px 0px 0px 0px;
            padding: 24px;
            height: 288px;
            border: 2px solid #07B2FF;
            border-radius: 8px;
            text-align: center;
        }
            #servicios article h2{
                color: #07B2FF;
                font-weight: 300;
                margin-top: 24px;
                text-align: left;
            }
            #servicios article p{
                margin: 16px 0px 8px 0px;
                color: #07B2FF;
                text-align: left;
            }
            #servicios article a{
                color: #07B2FF;
                display: block;
                text-align: right;
            }


    #portfolio{
        width: 1100px;
        margin: 72px auto 0px auto;
        padding: 32px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        #portfolio h1{
            text-align: center;
            font-weight: normal;
            width: 100%;
        }
        #portfolio article{
            width: 340px;
            height: 340px;
            margin-top: 32px;
            padding: 16px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: end;
        }
            #portfolio-1{
                background-image: url(../imgs/portfolio-1.png);
            }
            #portfolio-2{
                background-image: url(../imgs/portfolio-2.png);
            }
            #portfolio-3{
                background-image: url(../imgs/portfolio-3.png);
            }
            #portfolio-4{
                background-image: url(../imgs/portfolio-4.png);
            }
            #portfolio-5{
                background-image: url(../imgs/portfolio-5.png);
            }
            #portfolio-6{
                background-image: url(../imgs/portfolio-6.png);
            }
        #portfolio article a div{
            width: 288px;
            height: 72px;
            border-right: 32px solid #07B2FF;
            border-radius: 8px;
            background-color: #fff;
        }
        

/*######## footer #######*/
footer{
    background-color: #0B1E46;
    margin-top: 72px;
}
    footer div{
        width: 1100px;
        margin: auto;
        height: 216px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer div nav a{
        margin: 16px;
    }